.DS_Store
Thumbs.db
*.log
node_modules/
dist/
*.zip

# Compendium LevelDB (populated em runtime pelo Foundry)
packs/faccoes/*
!packs/faccoes/.gitkeep
packs/npcs/*
!packs/npcs/.gitkeep
packs/bestiario/*
!packs/bestiario/.gitkeep
